*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Noto Sans;
}

body{
    background-image: linear-gradient(to bottom, #040918 0%, #091540 100%);
    height: 1000px;
}
@media screen and (min-width:376px) and (max-width:12440px){

    /* style for extention */
    #container{
        padding: 0 5%;  
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #extentions{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;    
    }

    .UpDiv{
        display: flex;
        height: 50%;
    }

    .CARD{
        margin: 5px;
        padding: 15px;
        width: 32%;
        height: 150px;
        background-color: hsl(226, 25%, 17%);
        box-shadow: 0 0 2px hsl(0, 0%, 78%);
        border-radius: 15px;
    }

    .CARD h3{
        color: hsl(200, 60%, 99%);
        margin-left: 20px;
        font-size: 95%;
    }

    .CARD p{
        color: hsl(0, 0%, 78%);
        margin-left: 20px;
        margin-top: 5px;
        font-weight: 600;
        font-size: 75%;
    }

    .CARD img{
        width: 45px;
    }

    .DownDiv{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
    }

    .label{
        width: 35px;
        height: 20px;
        background-color: hsl(226, 11%, 37%);
        border-radius: 15px;
        cursor: pointer;
        position: relative;
    }

    .label::before{
        position: absolute;
        content: '';
        background-color: hsl(0, 0%, 93%);
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin: 2.5%;
        transition: 0.5s;
    }

    .checkBox:checked + .label{
        background-color: hsl(3, 86%, 64%);
    }

    .checkBox:checked + .label::before{
        transform: translateX(14px);
        background-color: hsl(0, 0%, 93%);
    }

    .checkBox{
        display: none;
    }

    .Button{
        background-color: hsl(226, 25%, 17%);
        box-shadow: 0 0 2px hsl(0, 0%, 78%);
        border-radius: 15px;
        color: hsl(217, 61%, 90%);
        padding: 5px 10px;
        font-size: 12px;
        cursor: pointer;
    }

    /* style for extention  */

    /* style for EXnav */
    #Exnav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        align-items: center;
        margin-bottom: 10xpx;
    }

    #Exnav #RightTitle{
        color: hsl(0, 0%, 93%);
    }

    #Exnav #LeftTitle{
        color: hsl(0, 0%, 93%);
    }

    #LeftTitle p{
        display: inline;
        padding: 10px 20px;
        box-shadow: 0 0 2px hsl(0, 0%, 78%);
        border-radius: 28px;
        background-color: hsl(226, 25%, 17%);
        font-weight: 600;
        margin: 0 3px;
        cursor: pointer;
    }

    #LeftTitle p:hover{
        background-color: hsl(3, 71%, 56%);
        color:hsl(226, 25%, 17%) ;
        box-shadow: 0 0 2px hsl(3, 71%, 56%);
        font-weight: 600;
        transition: 0.3s;
    }
    /* style for EXnav */

    /* style for Exmood */

    #Exmood{
        display: flex;
        justify-content: space-between;
        width: 98%;
        padding: 5px;
        align-items: center;
        margin: 50px 0 50px 0;
        background-color: hsl(226, 25%, 17%);
        border-radius: 15px;
    }

    #Exmood #rightLogo{
        display: flex;
        align-items: center;
    }

    #Exmood #rightLogo img{
        width: 60px;
    }

    #Exmood #rightLogo h3{
        color: white;
    }

    #Exmood #moodBtn{
        margin-right: 25px;
        background-color: hsl(225, 23%, 24%);
        border-radius: 12px;
        padding: 10px;
        display: flex;
        align-items: center;
    }




}

